body::before {
    display: block;
    content: '';
    height: 40px;
}

@media (max-width: 767px) {
    .container {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

.showcase {
    
    /*margin-right: 50px; */
    padding-right: 70px;

}

.d-sm-flex {
    height: 450px;
}

.col-md-6 {
    width: 500px;
}

.img-hike {
    width: 550px;
}

.about-me {
    width: 750px;
}

.img-fluid {
    max-width: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    text-align: left;
}



.skills{
    text-align: left;
    font-weight: bold;
    margin-left: 10px;
}